.camera-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.camera-box {
  position: relative;
  background: #000;
  padding: 20px;
  border-radius: 10px;
}

video {
  width: 500px;
  height: 380px;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}
